@import url("modern-normalize/modern-normalize.css");
@import url("./light.css");
@import url("./dark.css");

html,
body {
  overflow-x: hidden;
  color: var(--foreground);
  background-color: var(--background);
  transition:
    background-color var(--transition-seconds) ease,
    color var(--transition-seconds) ease,
    border-color var(--transition-seconds) ease;
}

:root {
  /* Брейкпоинты */
  --breakpoint-mobile: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;

  /* Ширина сайдбара */
  --sidebar-width: 270px;
  --sidebar-width-collapsed: 70px;

  /* Анимации */
  --transition-seconds: 0.4s;

  /* Бордер радиус */
  --border-radius: 0.25rem;
}
