.light {
  /* Основные цвета */
  --background: #f8f9fa;
  --background-secondary: #e9ecef;
  --foreground: #2d3748;
  --foreground-secondary: #4a5568;
  --primary: #4f46e5;
  --primary-hover: #4338ca;

  /* Дополнительные цвета */
  --secondary: #5f6c80;
  --success: #10a37f;
  --warning: #e9b949;
  --danger: #dc4c64;

  /* Состояния */
  --hover-bg: #f0f5fb;
  --active-bg: #e4eefa;
  --border-color: #e2e8f0;
}
