.link {
  position: relative;

  display: flex;
  gap: 0.25rem;
  align-items: center;

  color: var(--foreground);
  text-decoration: none;

  transition: all var(--transition-seconds) ease;

  &:hover {
    transform: translateY(-1px);
    color: var(--danger);
  }

  &.active {
    color: var(--danger);
  }
}

.icon {
  position: relative;
  left: 0;

  &.centered {
    left: 50%;
    transform: translateX(-50%);
    transition:
      left var(--transition-seconds) ease,
      transform var(--transition-seconds) ease;
  }
}

.label {
  display: inline-block;
  width: 0;
  opacity: 1;
  transition: opacity var(--transition-seconds) ease;

  &.hidden {
    opacity: 0;
  }
}
