.theme-switcher-button {
  cursor: pointer;

  padding: 8px;
  border: none;
  border-radius: 6px;

  background: transparent;

  &:hover {
    background-color: hsl(var(--background) / 10%);
  }
}

.icon {
  width: 20px;
  height: 20px;
  color: hsl(var(--foreground));
}
