.header {
  position: sticky;
  top: 0;

  width: 100%;
  height: 4rem;
  border-bottom: 1px solid var(--border-color);

  background-color: var(--background);

  transition:
    background-color var(--transition-seconds) ease,
    border var(--transition-seconds) ease;
}
