.sidebar {
  overflow: hidden;
  display: grid;
  justify-content: center;

  width: var(--sidebar-width);
  height: 100vh;
  padding: 16px;

  background-color: var(--background-secondary);

  transition:
    width var(--transition-seconds) ease,
    background-color var(--transition-seconds) ease;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}
