.sidebar {
  position: relative;

  overflow: hidden;
  display: grid;
  justify-content: center;

  width: var(--sidebar-width);
  height: 100vh;
  padding: 16px;

  background-color: var(--background-secondary);

  transition:
    width var(--transition-seconds) ease,
    background-color var(--transition-seconds) ease;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.toggle-button {
  cursor: pointer;

  justify-self: center;

  width: 40px;
  height: 40px;

  background-color: var(--background);

  &:hover {
    filter: brightness(1.1);
  }
}
